#portfolio .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.portfolio-thumb {
    flex: 1 1 calc(33.333% - 1rem);
    margin: 0.5rem;
    position: relative;
    border-radius: 10px;
    overflow: hidden;
    transition: transform 0.3s ease;
    height: 300px;
    box-shadow: 0 5px 15px #d43f5354;
}

.portfolio-thumb img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    transition: opacity 0.3s ease;
}

.portfolio-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #d43f5386;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.3s ease;
    padding: 1.5rem;
    text-align: center;
    border-radius: 10px;
}

.portfolio-thumb:hover .portfolio-overlay {
    opacity: 1;
}

.portfolio-overlay h4 {
    margin-bottom: 0.5rem;
    transform: translateY(20px);
    transition: transform 0.3s ease;
}

.portfolio-overlay h5 {
    font-size: 1.5rem;
    transform: translateY(20px);
    transition: transform 0.3s ease;
}

.portfolio-thumb:hover .portfolio-overlay h4,
.portfolio-thumb:hover .portfolio-overlay h5 {
    transform: translateY(0);
}

/* Responsive Design */
@media (max-width: 992px) {
    .portfolio-thumb {
        flex: 1 1 calc(50% - 1rem);
    }
}

@media (max-width: 768px) {
    .portfolio-thumb {
        flex: 1 1 calc(100% - 1rem);
    }
}